<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://cdn.plot.ly/plotly-1.57.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@6.3.1/dist/d3.min.js"></script>
    <script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
    <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
</head>

<body style="padding:0; margin:0;">
    <div id="vis-holder"
        style="display: flex; justify-content: center; align-items: center; width:100vw; height:100vh;">
        VISUALIZATION WILL GO HERE
    </div>

    <script src="/event/{{ function_name }}/{{ event_name }}"></script>

    <script>
        var element = document.getElementById("vis-holder");
        var doneRendering = e => { console.log("I am done!") }

        var looker = {
            plugins: {
                visualizations: {
                    add: visObject => {
                        visObject._textElement = element;

                        // Dummy Looker functions
                        visObject.addError = (e) => { };
                        visObject.clearErrors = () => { };
                        visObject.trigger = (t, e) => { };

                        // Create Visualization
                        visObject.create(element, {})
                        visObject.updateAsync(
                            data['data'],
                            data['element'],
                            data['config'],
                            data['queryResponse'],
                            data['details'],
                            doneRendering
                        )
                    }
                }
            }
        };
    </script>

    <script src="/dist/{{ function_name }}.js"></script>
</body>

</html>